<nav class="navbar navbar-expand-md navbar-primary fixed-top bg-primary sticky-top">
  <div class="container">
  <a class="navbar-brand" href="<%= agency_signed_in? ? account_path: root_path %>">DreamDwellings</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <% if agency_signed_in? %>
          <%= link_to "Account", account_path, class: "nav-link" %>
          <% else%>
            <a class="nav-link" href="/">Home</a>
          <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agencies</a>
          </li>
        </ul>

      <% if agency_signed_in? %>
        <%= form_tag destroy_agency_session_path, method: :delete do %>
        <%= submit_tag 'Sign out'%> 
      <% end %>        

      <% else %>
          <%= link_to "Log in", new_agency_session_path, class: "btn btn-secondary mr-2 float-sm-right" %>
          <%= link_to "Sign up", new_agency_registration_path, class: "btn btn-success float-sm-right" %>
      <% end %>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3">
    <div class="container-fluid">
    <a class="navbar-brand" href="<%= agency_signed_in? ? account_path: root_path %>">DreamDwellings</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
          <% if agency_signed_in? %>
            <a class="nav-link mx-2 active" aria-current="page" href="<%= account_path %>">Votre tableau de bord</a>
          <% else%>
            <a class="nav-link mx-2 active" aria-current="page" href="/">Accueil</a>
          <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Toutes nos agences</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Votre profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Blog</a></li>
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </nav>


<%#nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
      <a class="navbar-brand" href="<%= agency_signed_in? ? account_path: root_path >">DreamDwellings</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <% if agency_signed_in? >
          <%= link_to "Account", account_path, class: "nav-link" >
          <% else>
            <a class="nav-link" href="/">Home</a>
          <% end >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agencies</a>
          </li>
        </ul>
        <li class="nav-item dropdown">
        <% if user_signed_in? >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <%= current_agency.name >
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><%= link_to "Account", account_path, class: "nav-link" ></li>
            <li class="dropdown-item">
              <%= form_tag destroy_agency_session_path, method: :delete do >
              <%= submit_tag 'Sign out'> 
              <% end >
            </li>
          </ul>
        <% else >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
        <% end >
        </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><%= link_to "Log in", new_agency_session_path, class: "btn btn-secondary mr-2 float-sm-right" ></li>
            <li class="dropdown-item"><%= link_to "Sign up", new_agency_registration_path, class: "btn btn-success float-sm-right" ></li>
          </ul>
      </li>
      </ul>
  </div>
  </div>
</nav%>
